/Data/plots/*
/Data/plots/.DS_Store
/Data/Arrest_Data_from_2020_to_Present.csv
/Data/processed_arrest_data.csv

/app/server/server_data.db
/app/server/server_data.db-journal
/app/server/server_data.db-lock
/app/server/server_data.db-trace
/app/server/server_data.db-wal

/app/client/__pycache__/*
/app/client/client_gui.pyc
/app/client/client_gui.pyo
/app/client/client_gui.pyd
/app/client/client_gui.pyw
/app/client/client_gui.pyz

/app/server/__pycache__/*
/app/server/server_gui.pyc
/app/server/server_gui.pyo
/app/server/server_gui.pyd
/app/server/server_gui.pyw
/app/server/server_gui.pyz


app/shared/__pycache__/protocol.cpython-312.pyc
app/shared/__pycache__/constants.cpython-312.pyc
